@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Work Sans';
    font-display: optional;
    src: url('/fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Poppins';
    font-weight: 400;
    font-display: optional;
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Poppins';
    font-weight: bold;
    font-display: optional;
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
  }

  :root {
    --red: #e94040;
    --blue: #67bbef;
    --green: #67d3be;
    --purple: #8a65aa;
    --yellow: #f5bf32;
    --palered: #eb697f;
  }
  body.dark {
    --background: #151515;
    --foreground: #d7d7d7;
    --headings: #ffffff;
    /* replacing with bg-gray-200 dark:bg-gray-800 */
    --gray700: #242424;
    --gray500: #4f4f4f;
    --inverse-bg: #fff;
  }
  body.light {
    --background: #fff;
    --foreground: #151515;
    --headings: #000;
    --gray700: #f4f4f4;
    --gray500: #4f4f4f;
    --inverse-bg: #000;
  }

  body {
    @apply bg-background text-foreground transition-colors duration-75;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply font-head;
  }

  .no-margin {
    margin: 0 !important;
  }
}
